#data-list {width: 100%; font-size: 120%; color: #000; border-collapse: collapse; margin: 10px 0; border-bottom: 2px solid #999; border-top: 2px solid #999;}
#data-list thead th {font-size: 140%; background-color: #b83434; border-color: #ccc; border-style: solid; border-left-width: 1px; border-top-width: 4px; border-top-style: double; border-bottom-width: 3px; border-right-width: 1px; padding: 10px 5px;}
#data-list td {padding: 5px; font-family: Georgia; border-bottom: 1px solid #ddd;}
#data-list td .found {font-style: italic; color: #69B168;}
#data-list tr:nth-child(odd) td {border-left: 1px solid #f0f0f0;}
#data-list tr:nth-child(even) td {background-color: #f0f0f0; border-left: 1px solid #fff;}
#data-list .edit {background: url('../images/edit.png') no-repeat; display: block; width: 24px; height: 24px; overflow: hidden; text-indent: 500px; float: left; margin: 2px 10px 2px 0;}
#data-list .delete {background: url('../images/delete.png') no-repeat; display: block; width: 24px; height: 24px; overflow: hidden; text-indent: 500px; float: left; margin: 0 10px 2px 0;}
#data-list .control {width: 80px;}
#data-list .control a:hover {box-shadow: 0 0 5px rgba(253, 162, 20, 1);}
#data-list .row-number {font-family: Garamond; font-weight: bold; padding: 0 8px 0 0; width: 20px;}
#data-list .row-number span {background-color: #ccc; color: #fff; padding: 0 4px; display: block; margin-left: 3px;}
#data-list .null {color: #aaa;}
#data-list .subtable {padding: 0;}
#data-list .subtable:hover {background-color: #fff2d9;}
#data-list .subtable a {background: url('../images/folder-in.png') no-repeat 5px center; display: block; width: 100%; min-height: 38px; overflow: hidden; text-indent: -1000px;}
#data-list .subtable a:hover {background-image: url('../images/folder-in-open.png');}
#data-list .t-text {font-size: 80%;}
#data-list .t-foreign span {background-color: #fff4dd; display: inline-block; border-right: 1px dotted #999; border-left: 1px dotted #999; padding: 2px 3px;}
#data-list td.foreign {background-color: #fff4dd; border-bottom: 1px solid #fff;}
#data-list th.data {cursor: pointer; background-repeat: no-repeat; background-position: center right; padding: 0;}
#data-list th.data a {display: block; padding: 15px 14px 15px 8px; font-weight: normal; line-height: 120%; color: #fff;}
#data-list th.data a, #data-list th.data a:visited {font-weight: normal; color: #fff; text-decoration: underline;}
#data-list th.data a:hover {color: #fff; text-decoration: underline;}
#data-list th.data:hover {background-image: url('../images/go-up.png'); background-color: #DE2F0F;}
#data-list th.data.sort-asc {background-image: url('../images/go-up.png');}
#data-list th.data.sort-asc:hover {background-image: url('../images/go-down.png');}
#data-list th.data.sort-desc {background-image: url('../images/go-down.png');}
#data-list th.data.sort-desc:hover {background-image: url('../images/go-up.png');}
#data-list thead tr th.data a small, #data-list thead tr th small {color: #FFCD05; font-size: 50%; text-decoration: none; display: inline-block; margin-top: 3px;}
#data-list tr.enlighted td {background-color: #ffda8d;}
#data-list td.t-image a[rel^="lightbox"] {width: 24px; height: 24px; display: inline-block; overflow: hidden; background: url('../images/img-popup.png') no-repeat; text-indent: -1000%; text-decoration: none;}

#panel-up {border-bottom: 1px solid #F04200; width: 100%;}
#panel-down {border-top: 1px solid #F04200; width: 100%;}

.panel-add {}
.panel-add a {display: block; float: right; background: url('../images/new.png') no-repeat; padding: 6px 0 0 36px; margin-right: 10px; height: 32px; font-size: 130%;}

.sort.down {background: url('../images/go-down-big.png') no-repeat left -4px; display: inline-block; width: 24px; height: 20px; overflow: hidden; text-indent: 500px; float: left; margin: 2px 10px 2px 0; white-space: nowrap;}

.orderPanel {border-right: 1px solid #ddd; display: table; padding-right: 10px;}
.orderPanel input, .orderPanel label, .orderPanel select {float: left; margin-right: 5px;}
.searchPanel {border-right: 1px solid #ddd; display: table; padding-right: 10px; width: 400px;}
.searchPanel select {margin-left: 5px;}

.nav-pages {width: 50%;}
.nav-pages div {margin: 0 30px 0 0; padding: 7px 5px; background: #ddd;}
.nav-pages .pagenum, .nav-pages .more {border-right: 1px solid #fff; padding: 0 8px 5px 8px;}
.nav-pages .active {padding: 0 8px 5px; border-right: 1px solid #fff; font-weight: bold;}
#search-panel {}
#search-panel input#searchQ {font-size: 130%; margin: 0 5px;}
#search-panel select#searchBy {font-style: italic;}
#search-panel input[type=submit] {background: url('../images/find.png') no-repeat; width: 38px; height: 24px; overflow: hidden; display: inline-block; border: none; margin: 0 2px 0 7px; text-indent: -300px; cursor: pointer;}
#search-panel input[type=reset] {background: url('../images/x.png') no-repeat center center; width: 16px; height: 16px; overflow: hidden; display: inline-block; border: none; text-indent: -300px; cursor: pointer; vertical-align: bottom;}
#search-panel input[type=reset]:hover {background-image: url('../images/x_.png');}

.t-foreign {font-size: 90%; color: #555;}

.t-file .file {background-repeat: no-repeat; displat: table-cell; padding-left: 20px; min-height: 16px;}
.file.ext {font-size: 90%; font-style: italic; cursor: pointer;}
